# Node modules
node_modules/

# Environment variables
.env

# Firebase credentials
firebase-service-account.json.json

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
